Source: ros-melodic-roswww-static
Section: misc
Priority: optional
Maintainer: Oleg Kalachev <okalachev@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-roswww-static
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Static web pages for ROS packages
